<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet.servlet.A>
        <servlet.servlet.A-name>a</servlet.servlet.A-name>
        <servlet.servlet.A-class>servlet.servlet.A.ItemServlet</servlet.servlet.A-class>
    </servlet.servlet.A>

    <servlet.servlet.A-mapping>
        <servlet.servlet.A-name>a</servlet.servlet.A-name>
        <url-pattern>/item</url-pattern>
    </servlet.servlet.A-mapping>
</web-app>